* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
  height: 4rem;

  background-color: rgb(199 166 203);

  z-index: 99;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /*alinhamento*/
}

.logo {
  margin-left: 1.3rem;
  font-size: 1.5rem;
  font-family: 'Quintessential', cursive;
  color: #000000;
  font-weight: 700;
}

.love {
  color: #e13131;
}

.raffle {
  color: #000000;
}

body {
  margin: 0 auto;
  background: #ebebeb;
  font-family: 'Poppins', sans-serif;
  place-items: center;
}

.container {
  max-width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

#itens-wrapper {
  width: 50%;
}

#itens {
  display: flex;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  scroll-behavior: smooth;
}

.item {
  flex: none;
  width: 100%;
  height: 40rem;

  scroll-snap-align: start;

  pointer-events: none;
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
