.headerContainer {
  section {
    border-radius: 10px;
    background: #fff;
    width: 15rem;
    height: 22rem;

    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
    }

    p {
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 0;

      button {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        background: #8257e5;
        color: #fff;
        font-weight: bold;
        margin-top: 1rem;
      }
    }
  }
}
